.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 0 auto 2rem;
}

.letter {
    font-size: 10rem;
    font-weight: 800;
    color: #fff;
    z-index: 2;
    text-transform: uppercase;
    animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.letterGlow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    font-weight: 800;
    color: var(--primary);
    filter: blur(20px);
    opacity: 0.6;
    z-index: 1;
    text-transform: uppercase;
}

@keyframes popIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}